.sidebar
  background-color: $dark-gray
  color: $gray-200
  text-align: center
  padding: 0
  display: flex
  flex-direction: row
  @include media-breakpoint-up(md)
    flex-direction: column
    height: 100vh

  .sidebar-item
    font-size: 0.75rem
    padding: 10px
    p
      margin-top: 0.75em
  