body
  min-height: 100vh

.alert
  z-index: 1
  margin-bottom: 0
  border-radius: 0
  font-size: 12px
  padding: 0.5rem 1rem

.navbar-yellow
  background-color: $yellow
  a
    color: $black
    &:hover
      opacity: 0.5